@inject Client.Shared.LogedIn LogedIn

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MiljøFestival</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allevagt">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Alle vagter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allebruger">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Alle brugere
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alleopgave">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Alle opgaver
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="opretbruger">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Opret Bruger
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        @if (LogedIn.LoggetPå == true)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="frivilligStartside">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Startside (Frivillig)
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="frivilligTagVagt">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ledige vagter (Frivillig)
                </NavLink>
            </li>
        }

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
