@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger

<style>
    body {
        background-color: #F5F5F5
    }
</style>


<div class="page">

    <div class="main">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-md-between py-3 mb-4 border-bottom">

                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fs-3 justify-content-center">Miljøfestival</a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fs-5">
                    <li><a href="#" class="nav-link px-2 link-dark"><span class="bi bi-house"></span> Forside</a></li>
                    <li><a href="Info" class="nav-link px-2 link-dark"><span class="bi bi-info-circle"></span> Info</a></li>

                    @if (loggedInBruger.ErLoggetPå() && loggedInBruger.ErKoordinator())
                    {
                        <li><a href="koordinatorStartside" class="nav-link px-2 link-dark"><span class="bi bi-layout-text-window"></span> Dashboard</a></li>
                        <li><a href="koordinatorVagtOpgave" class="nav-link px-2 link-dark"><span class="bi bi-plus-circle"></span> Opret</a></li>
                        <li><a href="koordinatorfrivillige" class="nav-link px-2 link-dark"><span class="bi bi-people"></span> Frivillige</a></li>
                    }
                    else if (loggedInBruger.ErLoggetPå() && !loggedInBruger.ErKoordinator() && !loggedInBruger.ErFormand())
                    {
                        <li><a href="FrivilligStartside" class="nav-link px-2 link-dark"><span class="bi bi-signpost-2"></span> Dashboard</a></li>
                        <li><a href="FrivilligTagVagt" class="nav-link px-2 link-dark"><span class="bi bi-layout-text-window"></span> Vagter</a></li>
                        <li><a href="Frivillige" class="nav-link px-2 link-dark"><span class="bi bi-people"></span> Frivillige</a></li>
                    }
                    else if (loggedInBruger.ErLoggetPå() && loggedInBruger.ErFormand())
                    {
                        <li><a href="koordinatorStartside" class="nav-link px-2 link-dark"><span class="bi bi-layout-text-window"></span> Dashboard</a></li>
                        <li><a href="koordinatorVagtOpgave" class="nav-link px-2 link-dark"><span class="bi bi-plus-circle"></span> Opret</a></li>
                        <li><a href="formandfrivillige" class="nav-link px-2 link-dark"><span class="bi bi-plus-circle"></span> Frivillige</a></li>
                    }

                </ul>

                <div class="col-md-3 text-center">
                    @if (loggedInBruger.ErLoggetPå())
                    {
                        <a class="btn btn-outline-primary me-2" href="#" role="button" @onclick="LogAf"><span class="bi bi-box-arrow-left" aria-hidden="true"></span> Log af</a>
                        <a class="btn btn-primary me-2" href="profil" role="button"><span class="bi bi-person-badge" aria-hidden="true"></span> Profil</a>

                    }
                    else
                    {
                        <a class="btn btn-outline-primary me-2" href="login" role="button"><span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Log ind</a>
                        <a class="btn btn-primary" href="opretbruger" role="button"><span class="bi bi-person-plus-fill" aria-hidden="true"></span> Opret profil</a>
                    }
                </div>

            </header>
        </div>

        <div class="content px-4">
            @Body
        </div>

    </div>

</div>

@code {
    private void LogAf()
    {
        loggedInBruger.Bruger_Id = 0;
        loggedInBruger.Fornavn = string.Empty;
        loggedInBruger.Efternavn = string.Empty;
        loggedInBruger.Telefon = string.Empty;
        loggedInBruger.Email = string.Empty;
        loggedInBruger.Adresse = string.Empty;
        loggedInBruger.Team = string.Empty;
        loggedInBruger.Team_Id = 0;
        loggedInBruger.Rolle_Id = 0;
        loggedInBruger.Rolle = string.Empty;
        loggedInBruger.Kode = string.Empty;
        loggedInBruger.Kompetencer.Clear();

        NavManager.NavigateTo("/");
    }
}