@page "/opretbruger"
@using MiljøFestival.Shared.Models
@inject HttpClient Http


<main class="opretBrugerContainer m-auto col-md-4">
    <h1 class="text-center">Opret en bruger</h1>

    <form class="row g-2 needs-validation" novalidate>
        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="text" class="form-control" id="validationFornavn" @bind-value="nyBruger.Fornavn" placeholder="Fornavn" required>
            <label for="validationFornavn">Fornavn</label>
            <div class="valid-tooltip">Sejt navn!</div>
            <div class="invalid-tooltip">Skriv dit fornavn</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="text" class="form-control" id="validationEfternavn" @bind-value="nyBruger.Efternavn" placeholder="Efternavn" required>
            <label for="validationEfternavn">Efternavn</label>
            <div class="valid-tooltip">... og efternavn!</div>
            <div class="invalid-tooltip">Skriv dit efternavn</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="password" class="form-control" id="validationPassword" @bind-value="nyBruger.Kode" placeholder="Password" required>
            <label for="validationPassword">Password</label>
            <div class="valid-tooltip">Looks good!</div>
            <div class="invalid-tooltip">Skriv dit password</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="email" class="form-control" id="validationEmail" @bind-value="nyBruger.Email" placeholder="Email" required>
            <label for="validationEmail">E-mail</label>
            <div class="valid-tooltip">Den er modtaget!</div>
            <div class="invalid-tooltip">Skriv din e-mailadresse</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="tel" class="form-control" id="validationTelefon" @bind-value="nyBruger.Telefon" placeholder="Telefon" required>
            <label for="validationTelefon">Telefon</label>
            <div class="valid-tooltip">Tak for dit nummer</div>
            <div class="invalid-tooltip">Skriv dit telefonnummer</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <input type="text" class="form-control" id="validationAdresse" @bind-value="nyBruger.Adresse" placeholder="Adresse" required>
            <label for="validationAdresse">Adresse</label>
            <div class="valid-tooltip">Ved hvor du bor nu.</div>
            <div class="invalid-tooltip">Skriv din adresse</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <select class="form-control" id="validationRolle" @bind="nyBruger.Rolle" placeholder="Rolle" required>
                <option selected>Vælg en rolle</option>
                @foreach (var rolle in roller)
                {
                    <option>@rolle</option>
                }
            </select>            
            <label for="validationRolle">Rolle</label>
            <div class="valid-tooltip">Godt valg!.</div>
            <div class="invalid-tooltip">Vælg en team</div>
        </div>

        <div class="form-floating col-md-6 mb-3 position-relative">
            <select class="form-control" id="validationTeam" @bind="nyBruger.Team" placeholder="Team" required>
                <option selected>Vælg et team</option>
                @foreach (var team in teams)
                {
                    <option>@team</option>
                }
            </select>
            <label for="validationTeam">Team</label>
            <div class="valid-tooltip">Bliver hyggeligt!</div>
            <div class="invalid-tooltip">Vælg et team</div>
        </div>

        <div class="mx-auto">
            <button class="btn btn-primary" type="button" @onclick="() => OpretUser(nyBruger)">Opret Bruger</button>
        </div>

    </form>
</main>

@code {
    private Bruger nyBruger = new Bruger();
    private List<string> teams = new List<string>();
    private List<string> roller = new List<string>();




    protected async Task OpretUser(Bruger bruger)
    {
        await Http.PostAsJsonAsync<Bruger>("Bruger/opret", bruger);

        nyBruger = new Bruger();

    }

    protected override async Task OnInitializedAsync()
    {
        teams = await Http.GetFromJsonAsync<List<string>>("team/all");
        roller = await Http.GetFromJsonAsync<List<string>>("rolle/all");


    }

}