@page "/profil"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger LogedInBruger


<h1>Proil for bruger:</h1>

@if (bruger == null)
{
    <p><em>Loading...</em></p>
}
else if (LogedInBruger.ErLoggetPå())
{
    <p>Bruger_Id: @bruger.Bruger_Id</p>
    <input type="text" class="form-control" @bind="bruger.Fornavn">
    <input type="text" class="form-control" @bind="bruger.Efternavn">
    <input type="text" class="form-control" @bind="bruger.Telefon">
    <input type="text" class="form-control" @bind="bruger.Email">
    <input type="text" class="form-control" @bind="bruger.Adresse">
    <input type="checkbox" name="Koordinator" @bind="bruger.Koordinator">
    <label for="Koordinator">Koordinator</label>
    <td><input type="button" class="btn btn-primary" value="Gem opdateringer" @onclick="() => OpdaterBruger(bruger)"></td>

}
else
{
    <p>Log på for at se og redigere din profil</p>
}

@code {
    private Bruger bruger = new Bruger();

    protected override async Task OnInitializedAsync()
    {
        if (LogedInBruger.Bruger_Id != 0)
        {
            var brugerListe = await Http.GetFromJsonAsync<IEnumerable<Bruger>>($"Bruger/findBrugerId?bruger_id={LogedInBruger.Bruger_Id}");

            bruger = brugerListe.First();
        }
    }

    protected async Task OpdaterBruger(Bruger bruger)
    {
        // Opdater nuværende bruger
        LogedInBruger.Bruger_Id = bruger.Bruger_Id;
        LogedInBruger.Fornavn = bruger.Fornavn;
        LogedInBruger.Efternavn = bruger.Efternavn;
        LogedInBruger.Telefon = bruger.Telefon;
        LogedInBruger.Email = bruger.Email;
        LogedInBruger.Adresse = bruger.Adresse;
        LogedInBruger.Koordinator = bruger.Koordinator;

        await Http.PostAsJsonAsync<Bruger>("Bruger/opdaterBruger", bruger);

        await OnInitializedAsync();

    }




}