@page "/profil"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger LogedInBruger


<h1>Profil for bruger</h1>

@if (bruger == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (LogedInBruger.ErLoggetPå())
{
    <div class="row">
        <div class="profilContainer col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFornavn" @bind="bruger.Fornavn">
                <label for="floatingFornavn">Fornavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEfternavn" @bind="bruger.Efternavn">
                <label for="floatingEfternavn">Efternavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingTelefon" @bind="bruger.Telefon">
                <label for="floatingTelefon">Telefon</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" @bind="bruger.Adresse">
                <label for="floatingInput">Adresse</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" @bind="bruger.Email">
                <label for="floatingInput">Email adresse</label>
            </div>
            <div class="col-6 my-3">
                <button class="btn btn-primary" type="button" @onclick="() => OpdaterBruger(bruger)">Gem ændringer</button>
            </div>
            <div class="passwordContainer col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" @bind="bruger.Kode">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-primary" type="button" @onclick="() => OpdaterPassword(bruger)">Opdater password</button>
                </div>
            </div>
        </div>

        <div class="kompetenceContainer col-md-6">
            <p>Kompetencer</p>
            @foreach (var kompetence in valgteKompetencer)
            {
                <div class="form-floating mb-3">
                    <div class="form-check">
                        @if (kompetence.IsChecked == true)
                        {
                            <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(kompetence, eventArgs.Value); }" checked />
                            @kompetence.Kompetence_Navn
                        }
                        else
                        {
                            <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(kompetence, eventArgs.Value); }" />
                            @kompetence.Kompetence_Navn
                        }
                    </div>
                </div>
            }
            <div class="col-md-6">
                <button class="btn btn-outline-primary" @onclick="() => OpdaterKompetencer(valgteKompetencer)">Opdater kompetencer</button>
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-info col-3" ¨>
        <span class="oi oi-account-login" aria-hidden="true"></span>
        <strong> Hov!</strong> <a href="/login">Log in</a> for at se og redigere din profil!
    </div>

}

@code {
    private Bruger bruger = new Bruger();
    private List<string> teams = new List<string>();
    private List<Kompetence> alleKompetencer = new List<Kompetence>();
    public List<Kompetence> valgteKompetencer = new List<Kompetence>();

    protected override async Task OnInitializedAsync()
    {
        if (LogedInBruger.Bruger_Id != 0)
        {
            var brugerListe = await Http.GetFromJsonAsync<IEnumerable<Bruger>>($"Bruger/findBrugerId?bruger_id={LogedInBruger.Bruger_Id}");

            bruger = brugerListe.First();
            teams = await Http.GetFromJsonAsync<List<string>>("Team/all");
            alleKompetencer = await Http.GetFromJsonAsync<List<Kompetence>>("Kompetence/all");
            valgteKompetencer = await HentKompetencer(alleKompetencer);
        }
    }

    // Henter en liste over alle de komptencer, som man har valgt ved oprettelse og samtidigt dem man ikke har
    protected async Task<List<Kompetence>> HentKompetencer(List<Kompetence> kompetenceListe)
    {
        List<Kompetence> valgteKompetencer = new List<Kompetence>();

        foreach (var kompetence in kompetenceListe)
        {
            var kompetencer = await Http.GetFromJsonAsync<IEnumerable<Kompetence>>($"Kompetence/brugerkompetence?bruger_id={LogedInBruger.Bruger_Id}&kompetence_id={kompetence.Kompetence_Id}");

            valgteKompetencer.Add(kompetencer.First());
        }

        return valgteKompetencer;
    }


    // Gemmer ændringer i kompetencevalg
    void CheckboxClicked(Kompetence kompetence, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            kompetence.IsChecked = true;
        }
        else
        {
            kompetence.IsChecked = false;
        }
    }


    // Opdaterer valget af kompetencer
    protected async Task OpdaterKompetencer(List<Kompetence> kompetenceListe)
    {
        // Sender listen af nuværende valgte kompetencer til controlleren
        await Http.PostAsJsonAsync<List<Kompetence>>("Kompetence/opdater", kompetenceListe);
    }


    protected async Task OpdaterBruger(Bruger bruger)
    {
        // Opdater nuværende bruger
        LogedInBruger.Bruger_Id = bruger.Bruger_Id;
        LogedInBruger.Fornavn = bruger.Fornavn;
        LogedInBruger.Efternavn = bruger.Efternavn;
        LogedInBruger.Telefon = bruger.Telefon;
        LogedInBruger.Email = bruger.Email;
        LogedInBruger.Adresse = bruger.Adresse;
        LogedInBruger.Team_Id = bruger.Team_Id;
        LogedInBruger.Team = bruger.Team;

        await Http.PostAsJsonAsync<Bruger>("Bruger/opdater", bruger);

        await OnInitializedAsync();
    }

    private async Task OpdaterPassword(Bruger bruger)
    {
        await Http.PostAsJsonAsync<Bruger>("Bruger/opdaterPassword", bruger);

        await OnInitializedAsync();

    }
}
