@page "/"

<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-primary rounded-3">
      <div class="container-fluid py-5 text-light">
        <h1 class="display-5 fw-bold">Velkommen til Miljøfestival</h1>
        <p class="col-md-8 fs-4 p-0">JADA-Miljø festival er en ny festival som omfavner diversitet og nytænkning, men vigtigst af alt, er vi en festival, der vil støtte op omkring miljøet og klimavenlige tiltag. Derfor donerer vi alt overskud til miljøvenlig organisationer.</p>
      </div>
    </div>

  </div>
</main>