@page "/"
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger


<main>
    <div class="container col-md-9">

        <div class="p-5 mb-4 bg-success rounded-3">
            <div class="container-fluid py-5 text-light">
                <h1 class="display-5 col-md-12 fw-bold">Velkommen til JADAs Miljøfestival</h1>
                <p class="col-md-12 fs-4">Miljøfestivalen er en ny festival, der omfavner diversitet og nytænkning. Vigtigst af alt, er vi dog en festival, der størrer op omkring miljøet og klimavenlige tiltag. Derfor donerer vi alt overskud til miljøvenlige organisationer, og gør alt hvad vi kan for at holde vores festival så grøn som muligt.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="p-3 col-sm bg-secondary rounded-3 mx-3">
                <div class="container-fluid py-2 text-light">
                    <h3 class="fw-bold col-md-12 text-center">Meld dig som frivillig nu!</h3>
                    <p class="col-md-12 fs-5">Har <strong>DU</strong> godt humør, god holdånd og et grønt hjerte? Så gør lige som mange andre og bliv en del af årets miljøfestival. Udover gode oplevelser kvitterer vi med adgangsgivende armbånd til hele ugen og en masse andre fordele! </p>
                    <div class="col text-center">
                        <a class="btn btn-light col col-sm-6 fs-5" href="login" role="button">Opret frivilligprofil</a>
                    </div>
                </div>
            </div>
            <div class="p-3 col-sm bg-light border border-3 border-success rounded-3 mx-3">
                <div class="container-fluid py-2 text-dark">
                    <h3 class="fw-bold col-md-12">Kommer til JADAs Miljøfestival 2023...</h3>
                    <p class="col-md-12 fs-5"><strong>1) Vi går virtuelt!</strong> Som noget nyt kommer vi til at afholde festivalen både som almindeligt men også med mulighed for at deltage online - alle kan være med!
                        <br /><strong>2) Festivals kudos!</strong> Næste sommer forkæler vi de frivillige endnu mere. Tag vagter, tjen kudos og brug dem på sjov og ballade hele ugen ud!</p>
                </div>
            </div>
        </div>

    </div>
</main>