@page "/"

<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-primary rounded-3">
      <div class="container-fluid py-5 text-light">
        <h1 class="display-5 fw-bold">Velkommen til JADAs Miljøfestival 2022</h1>
        <p class="col-md-8 fs-4 p-0">Miljøfestivalen er en ny festival, der omfavner diversitet og nytænkning. Vigtigst af alt, er vi dog en festival, der størrer op omkring miljøet og klimavenlige tiltag. Derfor donerer vi alt overskud til miljøvenlig organisationer, og gør alt hvad vi kan for at holde vores festival så grøn som muligt.</p>
      </div>
    </div>

  </div>
</main>