@page "/info"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger


<main class="col-md-7 mx-auto">
    <h1 class="display-4 text-center mb-4">Om projektet</h1>
    <p class="lead mb-2">
        Denne fiktive miljøfestival er en del af et semesterprojekt, som er udarbejdet af Jacob, Abinash, Denis og Anders - alle studerende fra Erhvervsakademiet i Aarhus.<br />
        <br />De er alle i gang med en professionsbachelor i It-arkitektur, og de er i øjeblikket i slutningen af 2. semester. <br />
        <br />Dette projekt har derfor til formål at illustrere forskellige kompetencer, som de har tillært sig i de forskellige fag på faktisk både 1. og 2. semester. <br />
    </p>

    <div class="row row-cols-md-2 row-cols-md-2 g-4 mt-3">
        <div class="col ">
            <div class="card">
                <img src="Denis.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Denis "Quang" Huynh</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="Jacob.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jacob "Thomas/Morten" Kaae</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="Abi.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Abinash "Floorflækker" Tamilselvan</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="Anders.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Anders "Dogshiet" Lynge</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</main>
