@page "/profil"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger
@inject NavigationManager NavManager

@if (loggedInBruger.ErLoggetPå())
{
    <div class="row col-md-6 mx-auto">
        <div class="profilContainer col-md-6">
            <h2 class="my-3">Profiloplysninger</h2>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFornavn" @bind="loggedInBruger.Fornavn" placeholder="text">
                <label for="floatingFornavn">Fornavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEfternavn" @bind="loggedInBruger.Efternavn" placeholder="text">
                <label for="floatingEfternavn">Efternavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingTelefon" @bind="loggedInBruger.Telefon" placeholder="text">
                <label for="floatingTelefon">Telefon</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" @bind="loggedInBruger.Adresse" placeholder="text">
                <label for="floatingInput">Adresse</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" @bind="loggedInBruger.Email" placeholder="text">
                <label for="floatingInput">Email adresse</label>
            </div>
            <div class="my-3">
                <button class="btn btn-primary" type="button" @onclick="() => OpdaterBruger()">Gem ændringer</button>
            </div>
            @if (brugerÆndring == true)
            {
                <div class="alert alert-success col-md-9 my-3">
                    <span class="bi bi-shield-lock" aria-hidden="true"></span>
                    <strong> Succes!</strong> Dine oplysninger er ændret!
                </div>
            }
        </div>

        <div class="kompetenceContainer col-md-6">
            <h2 class="my-3">Kompetencer</h2>
            @foreach (var kompetence in loggedInBruger.Kompetencer)
            {
                <div class="form-check mb-3">
                    @if (kompetence.IsChecked == true)
                    {
                        <input type="checkbox" class="form-check-input" id="defaultCheck" @onchange="eventArgs => { CheckboxClicked(kompetence, eventArgs.Value); }" checked />
                        <label class="form-check-label" for="defaultcheck">@kompetence.Kompetence_Navn</label>
                        <br />
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" @onchange="eventArgs => { CheckboxClicked(kompetence, eventArgs.Value); }" />
                        <label class="form-check-label" for="defaultcheck">@kompetence.Kompetence_Navn</label>
                        <br />
                    }
                </div>
            }
            <h2 class="my-3">Ændre Password</h2>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" @bind="loggedInBruger.Kode">
                <label for="floatingPassword">Password</label>
            </div>
            <div>
                <button class="btn btn-outline-primary" type="button" @onclick="() => OpdaterPassword()">Opdater password</button>
            </div>
            @if (passwordÆndring == true)
            {
                <div class="alert alert-success col-md-9 my-3">
                    <span class="bi bi-shield-lock" aria-hidden="true"></span>
                    <strong> Succes!</strong> Dit password er ændret!
                </div>
            }
        </div>
    </div>
    <td><button type="button" class="btn btn-danger" @onclick="() => SletProfil()">Slet profil</button></td>
}
else
{
    <div class="alert alert-info col-md-3 mx-auto">
        <span class="oi oi-account-login" aria-hidden="true"></span>
        <strong> Hov!</strong> <a href="/login">Log in</a> for at se og redigere din profil!
    </div>
}

@code {
    private bool passwordÆndring = false;
    private bool brugerÆndring = false;


    // Gemmer ændringer i kompetencevalg
    private void CheckboxClicked(Kompetence kompetence, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            kompetence.IsChecked = true;
        }
        else
        {
            kompetence.IsChecked = false;
        }
    }


    // Opdaterer valget af kompetencer
    private async Task OpdaterKompetencer(List<Kompetence> kompetenceListe)
    {
        // Sender listen af nuværende valgte kompetencer til controlleren
        await Http.PutAsJsonAsync<List<Kompetence>>("Kompetence/opdater", kompetenceListe);
    }


    private async Task OpdaterBruger()
    {
        await OpdaterKompetencer(loggedInBruger.Kompetencer);

        await Http.PutAsJsonAsync<Bruger>("Bruger/opdater", loggedInBruger);

        brugerÆndring = true;
    }

    private async Task OpdaterPassword()
    {
        await Http.PutAsJsonAsync<Bruger>("Bruger/opdaterPassword", loggedInBruger);

        passwordÆndring = true;
    }

    private async Task SletProfil()
    {
        loggedInBruger.Kode = "placeholder";

        await Http.PutAsJsonAsync<Bruger>("Bruger/sletProfil", loggedInBruger);

        LogAf();
    }

    private void LogAf()
    {
        loggedInBruger.Bruger_Id = 0;
        loggedInBruger.Fornavn = string.Empty;
        loggedInBruger.Efternavn = string.Empty;
        loggedInBruger.Telefon = string.Empty;
        loggedInBruger.Email = string.Empty;
        loggedInBruger.Adresse = string.Empty;
        loggedInBruger.Team = string.Empty;
        loggedInBruger.Team_Id = 0;
        loggedInBruger.Rolle_Id = 0;
        loggedInBruger.Rolle = string.Empty;
        loggedInBruger.Kode = string.Empty;
        loggedInBruger.Kompetencer.Clear();

        NavManager.NavigateTo("/");
    }
}
